/* ==========================================================================
   Media Queries
   ========================================================================== */
   @media only screen and (min-width: 1080px) and (max-width: 1280px) {
   	.content-menu {
   		width: 1440px;
   		text-align: right;
   		display: block;
   		margin-left: 96%;
   	}
   	.homePrograms h3 {
   		background: #928000;
   		color: #fff;
   		font-size: 28px;
   		width: 100%;
   		text-transform: uppercase;
   		padding: 10px;
   		margin-bottom: 0px;
   		font-family: "Raleway-Bold";
   	}
   	.home-trips {
   		min-height: 323px;
   	}
   	.home-expeditions {
   		min-height: 323px;
   	}
   	.home-weekly {
   		background: url();
   		background-repeat: no-repeat;
   		background-size: cover;
   		min-height: 323px;
   	}
   	.programsHomeTitle {
   		font-size: 24px;
   		line-height: 30.24px;
   	}
   	.tsimaneDiv p, .tsimaneTitleBrawn {
    margin-left: 15%;
    margin-right: 15%;
    width: 80%;
}
.tsimanetext3 {
    font-family: 'Raleway-SemiBoldItalic', sans-serif;
    font-style: italic;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 0.38px;
    color: #FFFFFF;
    color: rgb(255, 255, 255);
    margin-top: 15px;
}
.tp-banner{
	width:100%;
	position:relative;
	height: 770px !important;
}

.home-slide-text h4{
    font-size : 25px;
  line-height : 58px;
  letter-spacing : 0.5px;
  color : #FFFFFF !important;
  color : rgb(255, 255, 255);
  font-family: 'Raleway-bold';
  text-transform: uppercase;
  text-align: left !important;
  }
  .home-slide-text h1{

  text-transform: none;
  text-align: left;
   font-size : 55px;
  line-height : 49px;
  letter-spacing : 1.95px;
  color : #FFFFFF !important;
  color : rgb(255, 255, 255);
  font-family: 'Raleway-bold';
  }

  .home-slide-text h2{
    margin-top: 30px !important;
     font-size : 36px;
  line-height : 40px;
  letter-spacing : 0.46px;
  color : #FFFFFF !important;
  color : rgb(255, 255, 255);
  font-family: 'Raleway-SemiBoldItalic';
  text-align: left !important;
  text-transform: none;
  }

  #cloudHome1 {
  -webkit-animation: animCloudH 15s infinite linear;
  -moz-animation: animCloudH 15s infinite linear;
  animation: animCloudH 15s infinite linear;
  height: 300px
}

#cloudHome2 {
  -webkit-animation: animCloudH 35s infinite linear;
  -moz-animation: animCloudH 35s infinite linear;
  animation: animCloudH 35s infinite linear;
  height: 300px
}
#section3 {
   background-size:cover !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: transparent !important;
}

.home-slide-text{
 margin-top: 170px;margin-left: 8%; text-align: left!important;
}
  .nubestext{
  	position: absolute;margin-top: -100px
  }
  .home-btn2{
  	margin-top: 120px !important
  }
  .home-btn3{
  	margin-top: -120px !important
  }

   }

   	@media only screen and (min-width: 768px) and (max-width: 1080px) {
   		.portfolioContainer { margin:0px auto;}
   		#work_outer{ background-size:450px; padding:40px 0px; background-position:right 230px; }
   		.top_cont_inner{ background-size:400px;}
   		.nav ul li{
   			display:inline-block;
   			margin:0 5px;
   		}
   		.tp-banner{
	width:100%;
	position:relative;
	height: 100% !important;
}


   		.btn-lets {
   			border: 1px solid #fff;
   			padding: 10px;
   			color: #fff;
   			font-size: 18px;
   			font-weight: 200;
   			font-family: 'Raleway', sans-serif;
   			width: 140px;
   			text-align: center;
   			margin: auto;
   			margin-top: 50px;
   			margin-right: 11px;
   			margin-left: 30% !important;
   		}
   		.content-menu {
   			width: 1440px;
   			text-align: right;
   			display: block;
   			margin-left: 96%;
   		}

   		.programsHomeTitleNumber {
   			font-size: 60px;
   			color: #fff;
   			text-transform: uppercase;
   			font-family: 'Raleway-Regular', sans-serif;
   			text-align: left !important;
   			width: 8%;
   			float: left;
   			margin-top: -8px;
   		}
   		.programsTextWhite {
   			font-size: 14px;
   			color: #fff;
   			line-height: 27px;
   			margin-bottom: 20px;
   		}
   		.home-trips {
   			min-height: 325px;
   		}
   		.home-expeditions {
   			min-height: 325px;
   		}
   		.home-weekly{
   			min-height: 325px;
   		}
   		.height360 {
   			height: 455px !important;
   		}

   		#ProgramsFish .botonera {
   			background: rgba(0,0,0,0.4);
   			padding: 10px;
   			margin: auto;
   			width: 100%;
   			text-align: center;
   		}
   		.arrow-active-down {
   			width: 0;
   			height: 0;
   			border-top: 18px solid #928000;
   			border-left: 15px solid transparent;
   			border-right: 15px solid transparent;
   			margin-left: 45%;
   			padding-top: -11px;
   			top: 44px;
   			position: absolute;
   			z-index: 999;
   		}
   		.FishingList2 {
   			width: 87%;
   			margin: 5% auto;
   		}
   		.mtop9 {
   			margin-top: 0%;
   			max-width: 100%;
   		}
   		.CV .btnClose{
   			padding-top: 0px;
   		}
   		.CV .btnClose2{
   			padding-top: 0px !important;
   		}
   		.CV {
   			height: 145%;
   			background: #23190f;
   			color: #fff;
   			font-family: "Raleway-Regular";
   			font-size: 16px;
   			line-height: 24px;
   			padding: 30px;
   			position: absolute;
   			z-index: 9999;

   		}


   		.homePrograms h3 {
   			background: #928000;
   			color: #fff;
   			font-size: 22px;
   			width: 100%;
   			text-transform: uppercase;
   			padding: 10px;
   			margin-bottom: 0px;
   			font-family: "Raleway-Bold";
   		}


   		.top_cont_latest{ background-size:500px;}
   		.tsimaneDiv {
   			padding: 60px;
   		}
   		.tsimaneDiv p, .tsimaneTitleBrawn {
   			margin-left: 12%;
   			margin-right: 15%;
   			width: 77%;
   		}
   		.waterGolden {
   			position: absolute;
   			margin-top: -100px;
   			margin-left: -92px;
   		}
   		.client_profile_pic{ float:none; width:150px; height:150px; margin:0px auto;}
   		#client_outer{ padding:25px 0px;}
   		.client_profile.flt{ float:none;}
   		.c-logo-part ul li{  margin:0 6px;}
   		.c-logo-part ul a{ width:100px;}
   		.client_profile{ float:none; margin:0 0 20px 0;}
   		.client_area{ width:436px;}
   		.quote_section{ width:auto; float:none;}

   		.service_block{ margin:0 0 20px 0;}
   		#service{ padding:20px 0px;}
   		.work_section{ padding:25px 0px;} 
   		#work_outer{background:none; padding:25px 0px; }
   		.top_cont_inner{background-size: 90% auto; -webkit-background-size: 90% auto;padding-bottom: 68%;}

   		.top_cont_latest{background-size: 90% auto; -webkit-background-size: 90% auto;padding-bottom: 68%;}
   		.top_left_cont { padding: 10% 0;}
   		.top_left_cont h2{ font-size:29px;}
   		body{ font-size:12px;}
   		h2{ font-size:26px !important;}
   		h3{ font-size:14px;}
   		h6{ font-size:16px; margin-bottom:40px;}
   		p{ line-height:18px;}
   		.service-list{ font-size:12px; margin-bottom:20px;}
   		.we-create li{ font-size:13px; padding:0 0 0 8px}
   		.header h1{ font-size:28px;}
   		.header{ padding:60px 0;}
   		.main-section{ padding:60px 0 70px;}
   		.main-nav{ display:none; position:absolute; left:0; width:100%; top:74px; margin:0 auto; flote : none; background:#fff;}
   		.main-nav li{ display:block;}
   		.main-nav li.small-logo{ display:none;}
   		.main-nav li a{ display:block; padding:7px 32px; border-bottom:none;}
   		.main-nav li a:hover{color:#7cc576}
   		.team-leader-box{ max-width:307px; width:auto; float:none; margin:0 auto;	}
   		.team-leader-box:nth-of-type(3n){ margin:0 auto}
   		.res-nav_click{ display:block;}
   		.featured-work{ font-size:12px; margin-top:30px;}
   		.featured-box{ font-size:12px;}
   		.featured-box p{ line-height:18px; }
   		.c-logo-part ul a{ margin-bottom:5px;}
   		.main-section.team{ padding:60px 0 50px;}
   		.business-talking h2{ font-size:36px;}
   		.contact-info-box{ margin:0 0 12px 30px; font-size:12px;}
   		.contact-info-box span{ line-height:18px;}
   		.social-link{ margin-left:30px;} 
   		.form{ margin:0 30px;}
   		.copyright{ font-size:12px;}
   		.business-talking a{ padding:10px 25px; font-size:14px;}
   		.main-section.contact{ padding:60px 0 70px}
   		.client-part-haead{ font-size:20px; line-height:30px;}
   		.link{ font-size:14px; padding:10px 25px;}

   		.main-section.contact{ background-size:contain;}
   		.Portfolio-nav li a{ padding:5px 16px;}
   		.Portfolio-nav li{ display:block;}
	/*.isotope-item img{ width:300px; left:50%; margin-left:-100px;}
	.isotope-item{ width:300px; margin:0px auto;}
	.isotope{ width:400px; margin:0px auto;}
	.Portfolio-box{}
	.portfolioContainer{ width:350px; margin:0px auto !important; } */
	
	.portfolioContainer { max-width:350px; margin:0px auto;}
	.logo{ margin:0px auto 10px; float:none; }
	.nav{ float:none; position:absolute; width:100%; top: 67px;}
	
	.toggle.ul{ background:#fff; width:100%;}
	.nav ul li{ border-bottom:1px solid #CCC; display:block; float:none; width:100%; margin:0px; text-align:center;}
	.nav ul li a{ padding:6px 0px}
	.res-nav_click{ 
		bottom: 0px;
		display: block;
		font-size: 25px;
		position: absolute;
		float: right;
		margin-left: 80%;
		color: #23190f;
	}
	.res-nav_click a{ text-decoration:none;}
	.res-nav_click a:hover{ text-decoration:none; color:#060;}
	.nav ul{ background:#928000; display:none;
		width: 50%;
		float: right;}

		.nav ul.toggle{
			display:none;
			visibility:visible;
			height:auto;
			overflow:auto;
		}

		.work_pic {
			position: relative;
			right: 0;
			top: auto;
			width: 90%;
			margin-left: 10%;
		}

		#About h3 {
			font-size: 18px;
			padding: 13px;
			padding-top: 50px;
			padding-bottom: 50px;

		}
		.aboutText {

			padding: 20px 15px;
		}

		.home-trips {
			min-height: 100%;
		}
		.arrow-active-down{
			top:99%;
			border-top: 0px solid #928000;
			border-left: 0px solid transparent;
			border-right: 0px solid transparent;
		}
		.home-expeditions {
			min-height: 100%;
		}
		.home-weekly{
			min-height: 100%;
		}

		.service_area {
			padding: 0px;
			margin-top: 0px;
		}
		.Jungle-slide2 h2{
			font-size: 30px;
		}
		.Jungle-slide3 h2{
			font-size: 30px;
		}
		.Jungle-slide3 {
			background: url(http://res.cloudinary.com/dv26e3u8y/image/upload/v1501092456/Tsimane/Pluma-Living-Room_bhfayi.jpg);
			margin: 0px;
			padding: 0px;
			height: 100%;
			background-repeat: no-repeat;
			background-size: cover;
		}
		#culture .backText {
			height: 100%;
			background: #928000;
			max-height: 100%;
		}
		.Jungle h4{
			font-size: 18px;
		}
		.Jungle-slide2{
			width: 100%;
			height: 100%;
		}
		.Follow h3 {
			font-size: 22px !important;
			line-height: 38px !important;
		}
		.MediaMagazine{
			border-right: 0px;
		}
		#MediaPage .menu a {
			cursor: pointer;
			font-family: 'Raleway-bold';
			text-transform: uppercase;
			font-size: 15px;
			color: #6f6f6e;
			vertical-align: text-top;
		}
		#MediaPage .menu {
			background: #fff;
			width: 80%;
			margin-left: 10%;
			height: 100%;
			margin-top: 0px;
			z-index: 4;
			display: block;
			position: sticky;
			border-bottom: 0px solid #ccc;
			text-align: left;
		}
		#MediaPage .menu img {
			margin-top: 7px;
			width: 30px;
		}
		.home-media-3 {
			background: url(http://res.cloudinary.com/dv26e3u8y/image/upload/v1500495832/Tsimane/media-6.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			height: 100%;
			height: 900px;
		}
		.mLeftPick{
			margin-left: 0px !important;
			margin-left: 0% !important;
		}
		.mLeft8{
			margin-left: 3.5% !important;
		}

		#twitter .coment h5 {
			color: #58595b;
			font-size: 14px;
			padding: 0px;
			line-height: 20px;
			margin: 0px;
			margin-bottom: 5px;
			font-family: 'Raleway-bold';
			margin-left: 0px; 
			margin-right: 20px; 
			margin-top: 25px;
			padding-left: 20px;}
			.twitterText{
				width: 100%;
				float: none;
				margin-right: 0px;
			}
			.twitterContent{
				margin-right: 0px;
			}
			.home-about-1 {
				min-height: 100%;
				margin-left: 23%;
			}
			.mleft20{
				margin-left:0px; 
			}
			.home-about-4 {
				background: url(http://res.cloudinary.com/dv26e3u8y/image/upload/v1500900481/Tsimane/fishing-_rp2m62.jpg);
				background-repeat: no-repeat;
				background-size: 500px;
				min-height: 285px;
			}

			.home-about-5 {
				background: url(http://res.cloudinary.com/dv26e3u8y/image/upload/v1500900477/Tsimane/anglers-2_k2soga.jpg);
				background-repeat: no-repeat;
				background-size: 375px;
				min-height: 499px;
			}
			.contact{margin-top: 0px !important}


			.title2 {
				text-transform: uppercase;
				font-size: 48px;
				text-align: center;
				font-size: 30px;
				line-height: 14px;
				letter-spacing: 2.4px;
				color: #FFFFFF;
				color: rgb(255, 255, 255);
				padding-top: 10px;
				font-family: "Raleway-ExtraBold";
			}
			.arrow-active-right {
				width: 0;
				height: 0;
				border-left: 0px solid #928000; 
				border-top: 0px solid transparent; 
				border-bottom: 20px solid transparent;

				padding-top: 0px;
				top: 152px;
				position: relative;
				left: 100%;
				z-index: 999;
			}
			.w48{
				width: 100%;
			}
			.media-7 {
				background: url(http://res.cloudinary.com/dv26e3u8y/image/upload/v1501010612/Tsimane/Jungle-Experience-2_ld4tv3.jpg);
				background-repeat: no-repeat; 
				background-size: 500px;
				min-height: 418px;
			}
			.native {
				background: url(http://res.cloudinary.com/dv26e3u8y/image/upload/v1500568378/Tsimane/culture-jungle-experience-3.jpg);
				background-repeat: no-repeat;
				background-size: 100%;
				min-height: 340px;
			}  
			.contact_section_contactUs .contact_block {
				text-align: center;
				width: 100%;
				margin: auto;
				padding-bottom: 50px;
				padding-top: 50px;
			}
			.contact_section_follow .contact_block {
				text-align: center;
				width: 100%;
				margin: auto;
				padding-bottom: 50px;
				padding-top: 50px;
			}
			.content-menu {
				width: 1440px;
				text-align: right;
				display: block;
				margin-left: 88.9%;
			}

			.TitleBrawn {
				font-size: 16px;
				text-align: justify;
				line-height: 20px;
				color: #3E1B04;
				color: rgb(62, 27, 4);
				margin-bottom: 20px;
				font-family: "Raleway-Bold";
				margin-left: 20px;
				margin-right: 20px;
			}
			.textCEl{
				margin-left: 20px;
				margin-right: 20px;
			}

			.arrow-active-Left-Jungle {
				width: 0;
				height: 0;
				border-left: 0px solid #928000;
				border-top: 0px solid transparent;
				border-bottom: 0px solid transparent;
				left: 101%;
				padding-top: 0px;
				top: 287px;
				position: relative;
				z-index: 999;
			}

			.LodigingList{
				width: 85%;
				margin: 5% auto;
			}
			.guides {

				background-size:100%;
				min-height: 352px;
				background-position: center;
			}

			.camp {

				background-size: 100%;
				min-height: 294px;
				background-position: center;
			}
			.lodge {

				background-size: 100%;
				min-height: 300px;
				background-position: center;
			}
			.lodge1 {

				background-size: 100%;
				min-height: 301px;
				background-position: center;
			}
			.lodge2 {

				background-size: 100%;
				min-height: 301px;
				background-position: center;
			}
			.lodge3 {

				background-size: 100%;
				min-height: 301px;
				background-position: center;
			}
			.generators {
				background-size: 100%;
				min-height: 371px;
				background-position: center;
			}
			.home-media-4 {
				background-size: 100%;
				min-height: 401px;
				margin-top: 0px;
			}
			.home-media-3Bis {

				background-size: 100%;
				min-height: 402px;
			}
			.btn-bookNow{
				color: #fff !important;
				text-align: center;
			}
			.nav ul li:last-child {
				margin: 0 0 0 0px;
			}
			.contact_section_contactUs {
				background: url(http://res.cloudinary.com/dv26e3u8y/image/upload/v1500916729/Tsimane/contact-fish_aekdbj.jpg);
				background-size: cover;
				height: 500px;
			}
			.contact_section_contactUs .contact_block a.mail {
				font-size: 16px;
			}
			.Fishing h2{
				margin-top: 0px;

				font-size: 25px;

				line-height : 47.2px;
				letter-spacing : 1.56px;
				color : #FFFFFF;
				color : rgb(255, 255, 255);
				font-family: 'Raleway-Heavy';
				text-align: left;
				padding-left: 10%;
				text-transform: none;

			}



			.Fishing h3{
				margin-top: 0px;
				font-size : 20px;
				line-height : 46.4px;
				letter-spacing : 0.4px;
				color : #FFFFFF;
				color : rgb(255, 255, 255);
				font-family: 'Raleway-Bold';
				text-transform: none;
				text-align: left;
				text-transform: uppercase;
				padding-left: 10%;


			}
			.Fishing h4{
				margin-top: 0px;
				font-style : italic;
				font-size : 16px;
				line-height : 31px;
				letter-spacing : 0.37px;
				color : #FFFFFF;
				color : rgb(255, 255, 255);
				text-transform: none;
				padding-left: 10%;
				font-family: 'Raleway-Regular';
				text-align: left;


			}

			#Fishing .menu {
				height: 100%;
				border-bottom: 0px;
				width: 100%;
				margin-left: 0%

			}
			.FishingList {
				width: 99%;
				margin: 5% auto;
			}
			.FishingList2 {
				width: 100%;
				margin: 0;
				padding-right: 0px !important;
			}
			ul.tabs li {
				font-size: 16px;
				height: 90px;
			}
			ul.tabs li.current {
				background: #928000;
				color: #fff;
				height: 95px;
			}
			ul.tabs li img {
				margin-right: 10px;
				display: block;
			}
			.textTab{
				font-size: 13px !important;
				color: #fff !important;
				width: 90%;
				margin-left: 14px !important;
				/* text-align: justify !important; */
				margin-top: 20px !important;
			}
			.mleft2{
				margin-left: 2%;
			}
			.tab-content{
				height: 100%;
			}
			.mtop9{
				margin-top: 0.9%;
			}

			.icon-communities-2-tsimane:before {

				font-size: 40px !important;

			}
			.icon-environmental-2-tsimane:before, .icon-working-2-tsimane:before,.icon-world-class-2-tsimane:before{

				font-size: 40px !important;

			}
			.width40{
				width: 100%;
			}
			.width20{
				width: 50%;
			}

			.width20 img{
				width: 100%;
				height: 100%;
			}
			ul.tabsTsimane li span {
				font-size: 10px;
				width: 97%;
				margin-top: 10px;


			}
			ul.tabsTsimane li.current {
				background: #928000;
				color: #fff;
				height: 115px;
			}
			ul.tabsTsimane li {
				background: none;
				color: #808000;
				display: inline-block;
				padding: 5px 0px;
				cursor: pointer;
				width: 24.3%;
				font-size: 16px;
				text-transform: uppercase;
				font-family: 'Raleway-semibold', sans-serif;
				text-align: left;
				height: 115px;
			}
			.slogan{
				margin-top: 1%;position: absolute;margin-left: -25%%;
				height: 150px;
				
			}
			.Tsimane-slide1 {
				background: url(http://res.cloudinary.com/dv26e3u8y/image/upload/v1502743297/Tsimane/slide0-tsimane.jpg);
				margin: 0px;
				padding: 0px;
				height: 200px;
				background-repeat: no-repeat;
				background-size: 100%;
			}
			.mleft40{
				margin-left: 0px;
			}
			.Tsimane-slide2{
				padding: 20px;
			}
			.height80{
				height: 280px
			}
			.waterGolden{
				position: absolute;
				margin-top: -191px;
				margin-left: 0px;

			}

			.waterGolden2 {
				position: absolute;
				margin-top: -80px;
				float: right;
				margin-left: 0%;

			}

			.boxPerson img {
				position: absolute;
				left: 0;
				-webkit-transition: all 300ms ease-out;
				-moz-transition: all 300ms ease-out;
				-o-transition: all 300ms ease-out;
				-ms-transition: all 300ms ease-out;
				transition: all 300ms ease-out;
				width: 100%;
			}
			.boxPerson .caption {
				background: #818000;
				position: absolute;
				color: #fff;
				z-index: 100;
				-webkit-transition: all 300ms ease-out;
				-moz-transition: all 300ms ease-out;
				-o-transition: all 300ms ease-out;
				-ms-transition: all 300ms ease-out;
				transition: all 300ms ease-out;
				left: 0;
				opacity: 0;
				width: 100%;
				height: 484px;
				text-align: left;
				padding: 15px;
			}
			.tsimaneMan {
				margin-bottom: 80px;
				width: 100%;
				text-align: center;
				padding: 7px;
				color: #fff;
				text-transform: uppercase;
				font-family: "Raleway-Regular";
				font-size: 16px;
				padding: 25px;
				position: absolute;
				top: 329px;
				background: #818000;
			}
			.mleft10{
				margin-left: 0px;
			}
			.tsimane1-3{
				margin-left: 0%;
			}
			.tsimane1-2{
				margin-left: 0%;
			}
			.tsimane1-1{
				margin-left: 0%;
			}
			.btn-lets {
				border: 1px solid #fff;
				padding: 10px;
				color: #fff;
				font-size: 18px;
				font-weight: 200;
				font-family: 'Raleway', sans-serif;
				width: 100%;
				text-align: center;
				margin: auto;
				margin-top: 10px;
				margin-right: 10px;
				display: block;
			}
			#cloud-animation {
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 0;

			}
			#cloud-animation img {

				left: -100%;
				top: -10%;
				position: absolute;
			}

			@-webkit-keyframes animCloud {
				from {
					-webkit-transform: translateX(100%);
				}
				to {
					-webkit-transform: translateX(-100%);
				}
			}
			@-moz-keyframes animCloud {
				from {
					-moz-transform: translateX(100%);
				}
				to {
					-moz-transform: translateX(-100%);
				}
			}
			@keyframes animCloud {
				from {
					-webkit-transform: translateX(100%);
					-moz-transform: translateX(100%);
					-ms-transform: translateX(100%);
					-o-transform: translateX(100%);
					transform: translateX(100%);
				}
				to {
					-webkit-transform: translateX(-100%);
					-moz-transform: translateX(-100%);
					-ms-transform: translateX(-100%);
					-o-transform: translateX(-100%);
					transform: translateX(-100%);
				}
			}
			#cloud1 {
				-webkit-animation: animCloud 25s infinite linear;
				-moz-animation: animCloud 25s infinite linear;
				animation: animCloud 25s infinite linear;
			}

			#cloud2 {
				-webkit-animation: animCloud 35s infinite linear;
				-moz-animation: animCloud 35s infinite linear;
				animation: animCloud 35s infinite linear;
			}
			.tsimaneDiv p, .tsimaneTitleBrawn {
				margin-left: 3%;
				margin-right: 3%;
				width: 90%;
				}.divButton{
					margin-left: 25%; width: 50%; margin-top: 15px
				}
				#ProgramsFish .botonera {
					background: rgba(0,0,0,0.4);
					padding: 10px;
					margin: auto;
					width: 100%;
					text-align: center;
				}

			}

			@media only screen and (min-width: 768px) and (max-width: 991px) {
				/****Ipad Portrait 768 Container 750 ****/
				.body{width: 100%;}
				body{ font-size:13px;}
				p{ line-height:20px ;}
				.header h1{ font-size:46px;}
				.main-nav ul li a{ padding:14px;}
				.small-logo{ padding:0 20px;}
				h2{ font-size:30px}
				h6{ font-size:16px;}
				h3{ font-size:15px;}
				.service-list{ margin-bottom:20px; font-size:15px;}
				.featured-work p.padding-b{ padding-bottom:15px;}
				.main-section{ padding:70px 0;}
				.c-logo-part ul li{ margin:0 1%; float:left; width:18%;}
				.c-logo-part ul li a{ display:block;}
				.c-logo-part ul li a img{ display:block;}
				.form{ margin:0;}
				.contact-info-box{ margin:0 ;}
				.social-link{ margin:0;}

				.main-nav{ display:block !important; }
				.main-nav li a{ padding:8px 15px;}
				.top_cont_inner{ background-size:327px;}

				.top_cont_latest{ background-size:327px;}
				.top_left_cont { padding:30px 0;}
				.top_left_cont h2{ font-size:24px;}
				.service_block{ margin:0 0 35px 0;}
				#service{ padding:40px 0px;}
				.service_area{ padding:40px 0px;}
				#work_outer{ background-size:350px; padding:40px 0px; background-position:right 130px; }
				.work_section{ padding:40px 0px;}
				#client_outer{ padding:45px 0px;}
				.quote_section{ width:495px; margin: 6px 0 0 30px;}
				.client_area{ width:700px;}
				.client_profile_pic{ width:150px; height:150px;}
				.quote_section.flt{ margin:6px 0 0 0;}






			}

			@media (max-width: 767px) {
				/****Mobile Landscape 480 Container 100% ****/

				#ProgramsFish .botonera {
					background: rgba(0,0,0,0.4);
					padding: 10px;
					margin: auto;
					width: 100%;
					text-align: center;
				}
				.native2 {
					background: url(https://res.cloudinary.com/dv26e3u8y/image/upload/v1503420752/Tsimane/programs/high-secure.jpg);
					background-size: 100%;
					height: 100%; 
					background-repeat: no-repeat;
				}
				#ProgramsFishing .botonera button {
					border: 1px solid #ccc;
					padding: 10px;
					text-align: center;
					text-transform: uppercase;
					color: #ccc;
					background: transparent;
					padding-right: 30px;
					padding-left: 30px;
					width: 100%;
					margin-bottom: 15px;
				}
				.ProgramsTabsDays {
					width: 100%;}
					ul.tabsPrograms li {
						background: none;
						color: #888a8d;
						/* display: inline-block; */
						padding: 10px 15px;
						cursor: pointer;
						width: 20%;
						font-size: 15px;
						text-transform: uppercase;
						font-family: 'Raleway-semibold', sans-serif;
						text-align: left;
						border-bottom: 0px solid #ccc;
						height: 55px;
						text-align: center;
						background: #fff;
						margin: 0px;
						border: 0px;
						float: left;
					}
					.FishingList-col2 {
						overflow: hidden;
						font-size: 16px;
						font-size: 16px;
						line-height: 21px;
						letter-spacing: 0.36px;
						color: #FFFFFF;
						color: rgb(255, 255, 255);
						font-family: 'Raleway-Light' !important;
						border-bottom: 1px solid #ccc;
						margin-bottom: 10px;
						padding-bottom: 20px;
						margin-right: 20px;
					}
					.BRigth {
						border-right: 0px solid #ccc;
						margin-bottom: 30px;
					}
					#REVIEWS {
						margin-bottom: 60px;
						margin-left: 20px;
					}
					#ProgramsFish .botonera button {
						border: 1px solid #fff;
						padding: 10px;
						text-align: center;
						text-transform: uppercase;
						color: #fff;
						background: transparent;
						padding-right: 30px;
						padding-left: 30px;
						width: 147px;
						margin-bottom: 10px;}
						#ProgramsFish {
							background: url(http://res.cloudinary.com/dv26e3u8y/image/upload/v1503417938/Tsimane/programs/book-now-1-weekly-program.jpg);
							margin: 0px;
							padding: 0px;
							height: 450px;
							background-repeat: no-repeat;
							background-size: cover;
							padding: 40px;
						}
						.CV {
							height: 145%;
							background: #23190f;
							color: #fff;
							font-family: "Raleway-Regular";
							font-size: 16px;
							line-height: 24px;
							padding: 30px;
							position: absolute;
							z-index: 9999;
						}
						.CV .btnClose{
							padding-top: 0px;
						}
						.client_profile_pic{ float:none; width:150px; height:150px; margin:0px auto;}
						#client_outer{ padding:25px 0px;}
						.client_profile.flt{ float:none;}
						.c-logo-part ul li{  margin:0 6px;}
						.c-logo-part ul a{ width:100px;}
						.client_profile{ float:none; margin:0 0 20px 0;}
						.client_area{ width:436px;}
						.quote_section{ width:auto; float:none;}

						.service_block{ margin:0 0 20px 0;}
						#service{ padding:20px 0px;}
						.work_section{ padding:25px 0px;} 
						#work_outer{background:none; padding:25px 0px; }
						.top_cont_inner{background-size: 90% auto; -webkit-background-size: 90% auto;padding-bottom: 68%;}

						.top_cont_latest{background-size: 90% auto; -webkit-background-size: 90% auto;padding-bottom: 68%;}
						.top_left_cont { padding: 10% 0;}
						.top_left_cont h2{ font-size:29px;}
						body{ font-size:12px;}
						h2{ font-size:26px !important;}
						h3{ font-size:14px;}
						h6{ font-size:16px; margin-bottom:40px;}
						p{ line-height:18px;}
						.service-list{ font-size:12px; margin-bottom:20px;}
						.we-create li{ font-size:13px; padding:0 0 0 8px}
						.header h1{ font-size:28px;}
						.header{ padding:60px 0;}
						.main-section{ padding:60px 0 70px;}
						.main-nav{ display:none; position:absolute; left:0; width:100%; top:74px; margin:0 auto; flote : none; background:#fff;}
						.main-nav li{ display:block;}
						.main-nav li.small-logo{ display:none;}
						.main-nav li a{ display:block; padding:7px 32px; border-bottom:none;}
						.main-nav li a:hover{color:#7cc576}
						.team-leader-box{ max-width:307px; width:auto; float:none; margin:0 auto;	}
						.team-leader-box:nth-of-type(3n){ margin:0 auto}
						.res-nav_click{ display:block;}
						.featured-work{ font-size:12px; margin-top:30px;}
						.featured-box{ font-size:12px;}
						.featured-box p{ line-height:18px; }
						.c-logo-part ul a{ margin-bottom:5px;}
						.main-section.team{ padding:60px 0 50px;}
						.business-talking h2{ font-size:36px;}
						.contact-info-box{ margin:0 0 12px 30px; font-size:12px;}
						.contact-info-box span{ line-height:18px;}
						.social-link{ margin-left:30px;} 
						.form{ margin:0 30px;}
						.copyright{ font-size:12px;}
						.business-talking a{ padding:10px 25px; font-size:14px;}
						.main-section.contact{ padding:60px 0 70px}
						.client-part-haead{ font-size:20px; line-height:30px;}
						.link{ font-size:14px; padding:10px 25px;}

						.main-section.contact{ background-size:contain;}
						.Portfolio-nav li a{ padding:5px 16px;}
						.Portfolio-nav li{ display:block;}
	/*.isotope-item img{ width:300px; left:50%; margin-left:-100px;}
	.isotope-item{ width:300px; margin:0px auto;}
	.isotope{ width:400px; margin:0px auto;}
	.Portfolio-box{}
	.portfolioContainer{ width:350px; margin:0px auto !important; } */
	
	.portfolioContainer { max-width:350px; margin:0px auto;}
	.logo{ margin:0px auto 10px; float:none; }
	.nav{ float:none; position:absolute; width:100%; top: 67px;}
	
	.toggle.ul{ background:#fff; width:100%;}
	.nav ul li{ border-bottom:1px solid #CCC; display:block; float:none; width:100%; margin:0px; text-align:center;}
	.nav ul li a{ padding:6px 0px}
	.res-nav_click{ 
		bottom: 0px;
		display: block;
		font-size: 25px;
		position: absolute;
		float: right;
		margin-left: 80%;
		color: #23190f;
	}
	.res-nav_click a{ text-decoration:none;}
	.res-nav_click a:hover{ text-decoration:none; color:#060;}
	.nav ul{ background:#928000; display:none;
		width: 50%;
		float: right;}

		.nav ul.toggle{
			display:none;
			visibility:visible;
			height:auto;
			overflow:auto;
		}

		.work_pic {
			position: relative;
			right: 0;
			top: auto;
			width: 90%;
			margin-left: 10%;
		}

		#About h3 {
			font-size: 18px;
			padding: 13px;
			padding-top: 50px;
			padding-bottom: 50px;

		}
		.aboutText {

			padding: 20px 15px;
		}

		.home-trips {
			min-height: 100%;
		}
		.arrow-active-down{
			top:99%;
			border-top: 0px solid #928000;
			border-left: 0px solid transparent;
			border-right: 0px solid transparent;
		}
		.home-expeditions {
			min-height: 100%;
		}
		.home-weekly{
			min-height: 100%;
		}

		.service_area {
			padding: 0px;
			margin-top: 0px;
		}
		.Jungle-slide2 h2{
			font-size: 30px;
		}
		.Jungle-slide3 h2{
			font-size: 30px;
		}
		.Jungle-slide3 {
			background: url(http://res.cloudinary.com/dv26e3u8y/image/upload/v1501092456/Tsimane/Pluma-Living-Room_bhfayi.jpg);
			margin: 0px;
			padding: 0px;
			height: 100%;
			background-repeat: no-repeat;
			background-size: cover;
		}
		#culture .backText {
			height: 100%;
			background: #928000;
			max-height: 100%;
		}
		.Jungle h4{
			font-size: 18px;
		}
		.Jungle-slide2{
			width: 100%;
			height: 100%;
		}
		.Follow h3 {
			font-size: 22px !important;
			line-height: 38px !important;
		}
		.MediaMagazine{
			border-right: 0px;
		}
		#MediaPage .menu a {
			cursor: pointer;
			font-family: 'Raleway-bold';
			text-transform: uppercase;
			font-size: 15px;
			color: #6f6f6e;
			vertical-align: text-top;
		}
		#MediaPage .menu {
			background: #fff;
			width: 80%;
			margin-left: 10%;
			height: 100%;
			margin-top: 0px;
			z-index: 4;
			display: block;
			position: sticky;
			border-bottom: 0px solid #ccc;
			text-align: left;
		}
		#MediaPage .menu img {
			margin-top: 7px;
			width: 30px;
		}
		.home-media-3 {
			background: url(http://res.cloudinary.com/dv26e3u8y/image/upload/v1500495832/Tsimane/media-6.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			height: 100%;
			height: 900px;
		}
		.mLeftPick{
			margin-left: 0px !important;
			margin-left: 0% !important;
		}
		.mLeft8{
			margin-left: 3.5% !important;
		}

		#twitter .coment h5 {
			color: #58595b;
			font-size: 14px;
			padding: 0px;
			line-height: 20px;
			margin: 0px;
			margin-bottom: 5px;
			font-family: 'Raleway-bold';
			margin-left: 0px; 
			margin-right: 20px; 
			margin-top: 25px;
			padding-left: 20px;}
			.twitterText{
				width: 100%;
				float: none;
				margin-right: 0px;
			}
			.twitterContent{
				margin-right: 0px;
			}
			.home-about-1 {
				min-height: 100%;
			}
			.mleft20{
				margin-left:0px; 
			}
			.home-about-4 {
				background: url(http://res.cloudinary.com/dv26e3u8y/image/upload/v1500900481/Tsimane/fishing-_rp2m62.jpg);
				background-repeat: no-repeat;
				background-size: 500px;
				min-height: 285px;
			}

			.home-about-5 {
				background: url(http://res.cloudinary.com/dv26e3u8y/image/upload/v1500900477/Tsimane/anglers-2_k2soga.jpg);
				background-repeat: no-repeat;
				background-size: 375px;
				min-height: 499px;
			}
			.contact{margin-top: 0px !important}


			.title2 {
				text-transform: uppercase;
				font-size: 48px;
				text-align: center;
				font-size: 30px;
				line-height: 14px;
				letter-spacing: 2.4px;
				color: #FFFFFF;
				color: rgb(255, 255, 255);
				padding-top: 10px;
				font-family: "Raleway-ExtraBold";
			}
			.arrow-active-right {
				width: 0;
				height: 0;
				border-left: 0px solid #928000; 
				border-top: 0px solid transparent; 
				border-bottom: 20px solid transparent;

				padding-top: 0px;
				top: 152px;
				position: relative;
				left: 100%;
				z-index: 999;
			}
			.w48{
				width: 100%;
			}
			.media-7 {
				background: url(http://res.cloudinary.com/dv26e3u8y/image/upload/v1501010612/Tsimane/Jungle-Experience-2_ld4tv3.jpg);
				background-repeat: no-repeat; 
				background-size: 500px;
				min-height: 418px;
			}
			.native {
				background: url(http://res.cloudinary.com/dv26e3u8y/image/upload/v1500568378/Tsimane/culture-jungle-experience-3.jpg);
				background-repeat: no-repeat;
				background-size: 100%;
				min-height: 340px;
			}  
			.contact_section_contactUs .contact_block {
				text-align: center;
				width: 100%;
				margin: auto;
				padding-bottom: 50px;
				padding-top: 50px;
			}
			.contact_section_follow .contact_block {
				text-align: center;
				width: 100%;
				margin: auto;
				padding-bottom: 50px;
				padding-top: 50px;
			}
			.content-menu {
				width: 1440px;
				text-align: right;
				display: block;
				margin-left: 88.9%;
			}

			.TitleBrawn {
				font-size: 16px;
				text-align: justify;
				line-height: 20px;
				color: #3E1B04;
				color: rgb(62, 27, 4);
				margin-bottom: 20px;
				font-family: "Raleway-Bold";
				margin-left: 20px;
				margin-right: 20px;
			}
			.paddigLeft30{
				padding-left: 15px !important;
			}
			.textCEl{
				margin-left: 20px;
				margin-right: 20px;
			}

			.arrow-active-Left-Jungle {
				width: 0;
				height: 0;
				border-left: 0px solid #928000;
				border-top: 0px solid transparent;
				border-bottom: 0px solid transparent;
				left: 101%;
				padding-top: 0px;
				top: 287px;
				position: relative;
				z-index: 999;
			}

			.LodigingList{
				width: 85%;
				margin: 5% auto;
			}
			.guides {

				background-size:100%;
				min-height: 352px;
				background-position: center;
			}

			.camp {

				background-size: 100%;
				min-height: 294px;
				background-position: center;
			}
			.lodge {

				background-size: 100%;
				min-height: 300px;
				background-position: center;
			}
			.lodge1 {

				background-size: 100%;
				min-height: 301px;
				background-position: center;
			}
			.lodge2 {

				background-size: 100%;
				min-height: 301px;
				background-position: center;
			}
			.lodge3 {

				background-size: 100%;
				min-height: 301px;
				background-position: center;
			}
			.generators {
				background-size: 100%;
				min-height: 371px;
				background-position: center;
			}
			.home-media-4 {
				background-size: 100%;
				min-height: 401px;
				margin-top: 0px;
			}
			.home-media-3Bis {

				background-size: 100%;
				min-height: 402px;
			}
			.btn-bookNow{
				color: #fff !important;
				text-align: center;
			}
			.nav ul li:last-child {
				margin: 0 0 0 0px;
			}
			.contact_section_contactUs {
				background: url(http://res.cloudinary.com/dv26e3u8y/image/upload/v1500916729/Tsimane/contact-fish_aekdbj.jpg);
				background-size: cover;
				height: 500px;
			}
			.contact_section_contactUs .contact_block a.mail {
				font-size: 16px;
			}
			.Fishing h2{
				margin-top: 0px;

				font-size: 25px;

				line-height : 47.2px;
				letter-spacing : 1.56px;
				color : #FFFFFF;
				color : rgb(255, 255, 255);
				font-family: 'Raleway-Heavy';
				text-align: left;
				padding-left: 10%;
				text-transform: none;

			}



			.Fishing h3{
				margin-top: 0px;
				font-size : 20px;
				line-height : 46.4px;
				letter-spacing : 0.4px;
				color : #FFFFFF;
				color : rgb(255, 255, 255);
				font-family: 'Raleway-Bold';
				text-transform: none;
				text-align: left;
				text-transform: uppercase;
				padding-left: 10%;


			}
			.Fishing h4{
				margin-top: 0px;
				font-style : italic;
				font-size : 16px;
				line-height : 31px;
				letter-spacing : 0.37px;
				color : #FFFFFF;
				color : rgb(255, 255, 255);
				text-transform: none;
				padding-left: 10%;
				font-family: 'Raleway-Regular';
				text-align: left;


			}

			#Fishing .menu {
				height: 100%;
				border-bottom: 0px;
				width: 100%;
				margin-left: 0%

			}
			.FishingList {
				width: 99%;
				margin: 5% auto;
			}
			.FishingList2 {
				width: 100%;
				margin: 0;
				padding-right: 0px !important;
			}
			ul.tabs li {
				font-size: 12px;
				height: 90px;
			}
			ul.tabs li.current {
				background: #928000;
				color: #fff;
				height: 95px;
				font-size: 12px;
			}
			ul.tabs li img {
				margin-right: 10px;
				display: block;
			}
			#TripInfo h2 {
				margin-left: 20px;
			}
			.programsTextWhite{
				line-height: 27px;
				margin-bottom: 20px;
			}
			#ProgramsFishing h2{
				margin-left: 20px;
			}
			.lodgeAgua {
				background: url(https://res.cloudinary.com/dv26e3u8y/image/upload/v1503417947/Tsimane/programs/accomodations-weekly-program.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				min-height: 360px;
			}
			.textTab{
				font-size: 13px !important;
				color: #fff !important;
				width: 90%;
				margin-left: 14px !important;
				/* text-align: justify !important; */
				margin-top: 20px !important;
			}
			.mleft2{
				margin-left: 2%;
			}
			.tab-content{
				height: 100%;
			}
			.mtop9{
				margin-top: 0.9%;
			}

			.icon-communities-2-tsimane:before {

				font-size: 40px !important;

			}
			.icon-environmental-2-tsimane:before, .icon-working-2-tsimane:before,.icon-world-class-2-tsimane:before{

				font-size: 40px !important;

			}
			.width40{
				width: 100%;
			}
			.width20{
				width: 50%;
			}

			.width20 img{
				width: 100%;
				height: 100%;
			}
			ul.tabsTsimane li span {
				font-size: 10px;
				width: 97%;
				margin-top: 10px;


			}
			ul.tabsTsimane li.current {
				background: #928000;
				color: #fff;
				height: 115px;
			}
			ul.tabsTsimane li {
				background: none;
				color: #808000;
				display: inline-block;
				padding: 5px 0px;
				cursor: pointer;
				width: 24.3%;
				font-size: 16px;
				text-transform: uppercase;
				font-family: 'Raleway-semibold', sans-serif;
				text-align: left;
				height: 115px;
			}
			.slogan{
				margin-top: 1%;position: absolute;margin-left: -25%%;
				height: 150px;
				
			}
			.Tsimane-slide1 {
				background: url(http://res.cloudinary.com/dv26e3u8y/image/upload/v1502743297/Tsimane/slide0-tsimane.jpg);
				margin: 0px;
				padding: 0px;
				height: 200px;
				background-repeat: no-repeat;
				background-size: 100%;
			}
			.mleft40{
				margin-left: 0px;
			}
			.Tsimane-slide2{
				padding: 20px;
			}
			.height80{
				height: 280px
			}
			.waterGolden{
				position: absolute;
				margin-top: -191px;
				margin-left: 0px;

			}

			.waterGolden2 {
				position: absolute;
				margin-top: -80px;
				float: right;
				margin-left: 0%;

			}

			.boxPerson img {
				position: absolute;
				left: 0;
				-webkit-transition: all 300ms ease-out;
				-moz-transition: all 300ms ease-out;
				-o-transition: all 300ms ease-out;
				-ms-transition: all 300ms ease-out;
				transition: all 300ms ease-out;
				width: 100%;
			}
			.boxPerson .caption {
				background: #818000;
				position: absolute;
				color: #fff;
				z-index: 100;
				-webkit-transition: all 300ms ease-out;
				-moz-transition: all 300ms ease-out;
				-o-transition: all 300ms ease-out;
				-ms-transition: all 300ms ease-out;
				transition: all 300ms ease-out;
				left: 0;
				opacity: 0;
				width: 100%;
				height: 390px;
				text-align: left;
				padding: 15px;
			}
			.tsimaneMan {
				margin-bottom: 80px;
				width: 100%;
				text-align: center;
				padding: 7px;
				color: #fff;
				text-transform: uppercase;
				font-family: "Raleway-Regular";
				font-size: 16px;
				padding: 25px;
				position: absolute;
				top: 298px;
				background: #818000;
			}
			.mleft10{
				margin-left: 0px;
			}
			.tsimane1-3{
				margin-left: 0%;
			}
			.tsimane1-2{
				margin-left: 0%;
			}
			.tsimane1-1{
				margin-left: 0%;
			}
			.btn-lets {
				border: 1px solid #fff;
				padding: 10px;
				color: #fff;
				font-size: 18px;
				font-weight: 200;
				font-family: 'Raleway', sans-serif;
				width: 100%;
				text-align: center;
				margin: auto;
				margin-top: 10px;
				margin-right: 10px;
				display: block;
			}
			#cloud-animation {
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 0;

			}
			#cloud-animation img {

				left: -100%;
				top: -10%;
				position: absolute;
			}



			.tsimaneDiv p, .tsimaneTitleBrawn {
				margin-left: 3%;
				margin-right: 3%;
				width: 90%;
			}
			.divButton{
				margin-left: 25%; width: 50%; margin-top: 15px
			}

			#Sun-animation {
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 0;
				width: 100%;

			}
			#Sun-animation img {

				left: 0;
				top: -10%;
				position: relative;

			}
			.weather{
				background: #dfdfdf; color: #928000; font-size: 17px;  width: 100%;margin-bottom: 20px;
				height: 100%;
			}
			ul.tabs li.current {
				background: #938b14;
				color: #fff;
				height: 100%;
				font-size: 15px;
			}
			.botonera {
    width: 100%;
    border: 1px solid #a9abac;
    margin: auto;
    padding-bottom: 26px;
    padding-top: 26px;
}
#ProgramsFishing .btnFishing {
    /* padding: 10px; */
    text-align: center;
    text-transform: uppercase;
    color: #ccc;
    background: transparent;
    padding-right: 3px;
    padding-left: 3px;
    border: 0px;
    border-right: 1px solid #ccc;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 23px;
    padding-top: 24px;
    width: d;
    display: block;
}
.arrow-tabs.current {
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid #818000;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    margin-left: 3%;
    padding-top: 0px;
    position: absolute;
    /* left: 16%; */
    z-index: 99000;
    top: 60px;
}
.ProgramsTabsDays {
    width:100%;
    margin: -6% auto;
    top: 22px;
    z-index: 9999;
    position: relative;
    background: #fff !important;
}
.tp-banner{
	width:100%;
	position:relative;
	height: 300px !important;
}
.home-slide-text h1 {
    margin-top: 30px !important;
    text-transform: none !important;
    text-align: left;
    font-size: 29px;
    line-height: 35px;
    letter-spacing: 1.95px;
    color: #FFFFFF !important;
    color: rgb(255, 255, 255);
    font-family: 'Raleway-bold';
}
.home-slide-text h2 {
    margin-top: 60px !important;
    font-size: 17px !important;
    line-height: 24px;
    letter-spacing: 0.46px;
    color: #FFFFFF !important;
    color: rgb(255, 255, 255);
    font-family: 'Raleway-SemiBoldItalic';
    text-align: left !important;
}
.home-btn {
    padding: 5px;
    font-size: 18px;
    color: #FFFFFF;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: 'Raleway-regular';
    border: 1px solid #fff;
    float: left;
    margin-left: 40px;
    margin-top: 50px;
}
.home-slide-text {
    margin-top: 125px;
    margin-left: 10%;
    text-align: left!important;
}
.home-slide-text h4 {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.5px;
    color: #FFFFFF !important;
    color: rgb(255, 255, 255);
    font-family: 'Raleway-bold';
    text-transform: uppercase;
    text-align: left !important;
}
#fp-nav.right {
    right: 10px !important;
}
.mRight106{
	margin-right: 10px;
}
.mleft120{
	margin-left: 10px;
}

#section0, #section1, #section2, #section3, #section4 {
    background-size: 100% 
    !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #23190f !important;
}
		}

		@media only screen and (max-width: 479px) {
			/****Mobile Portrait 320 ****/
			#filters ul li{ display:block;}
			.contact-info-box{ margin-left:0px;}
			.header{ padding:40px;}
			.social-link{ margin-left:0px;}
			.form{ margin:0}
			.c-logo-part ul li{ display:block;}
			.Portfolio-box{  max-width:300px !important; width:96.4% !important; margin:0 !important}
			.Portfolio-box img { max-width:100%;}
			.portfolioContainer{ width:280px !important; margin:0 auto !important }
			.top_left_cont h2{ font-size:20px;} 
			.client_area{ width:276px;}
			.quote_section p{ font-size:15px;} 
			.c-logo-part{ padding:18px 0px;}
			.c-logo-part ul li{ margin:6px 0px; display:block;}

		}