@font-face {
  font-family: 'tsimane2';
  src: url('../fonts/tsimane2.eot?59275231');
  src: url('../fonts/tsimane2.eot?59275231#iefix') format('embedded-opentype'),
       url('../fonts/tsimane2.woff2?59275231') format('woff2'),
       url('../fonts/tsimane2.woff?59275231') format('woff'),
       url('../fonts/tsimane2.ttf?59275231') format('truetype'),
       url('../fonts/tsimane2.svg?59275231#tsimane2') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'tsimane2';
    src: url('../font/tsimane2.svg?59275231#tsimane2') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "tsimane2";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  font-size: 30px;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.current{
  color: #fff !important;
}
 
.icon-accomodation:before { content: '\e800'; } /* '' */
.icon-check-2programs-weekly:before { content: '\e801';width: 20%;float: left;font-size: 50px  } /* '' */
.icon-check-boxprograms-weekly:before { content: '\e802'; } /* '' */
.icon-checklistprograms-weekly:before { content: '\e803'; } /* '' */
.icon-day-8-hotelprograms-weekly:before { content: '\e804'; } /* '' */
.icon-day-8-morningprograms-weekly:before { content: '\e805'; } /* '' */
.icon-day-9-pick-upprograms-weekly:before { content: '\e806'; } /* '' */
.icon-day-fishingprograms-weekly:before { content: '\e807'; } /* '' */
.icon-day1-guidesprograms-weekly:before { content: '\e808'; } /* '' */
.icon-documentsprograms-weekly:before { content: '\e80a';     width: 20%;float: left;font-size: 50px } /* '' */
.icon-downloadprograms-weekly:before { content: '\e80b'; } /* '' */
.icon-exclusionprograms-weekly:before { content: '\e80c'; } /* '' */
.icon-fees-2programs-weekly:before { content: '\e80d'; } /* '' */
.icon-feesprograms-weekly:before { content: '\e80e';  width: 20%;
    float: left;
    font-size: 35px;
    margin-right: 10px;} /* '' */
.icon-fishing-btnprograms-weekly:before { content: '\e80f'; } /* '' */
.icon-flightsprograms-weekly:before { content: '\e810';    width: 20%;float: left;font-size: 50px } /* '' */
.icon-heath-2programs-weekly:before { content: '\e811';  width: 20%;float: left;font-size: 50px  } /* '' */
.icon-hotelprograms-weekly:before { content: '\e812';  width: 20%;float: left;font-size: 50px  } /* '' */
.icon-indian-assoc-programs-weekly:before { content: '\e813'; } /* '' */
.icon-itinerary-btnprograms-weekly:before { content: '\e814'; } /* '' */
.icon-itineraryprograms-weekly:before { content: '\e815'; } /* '' */
.icon-lodgeprograms-weekly:before { content: '\e816'; } /* '' */
.icon-meals-not-includedprograms-weekly:before { content: '\e817'; } /* '' */
.icon-mealsprograms-weekly:before { content: '\e818'; } /* '' */
.icon-non-anglerprograms-weekly:before { content: '\e819'; } /* '' */
.icon-occupancyprograms-weekly:before { content: '\e81a'; } /* '' */
.icon-rate-per-angler-programs-weekly:before { content: '\e81b'; } /* '' */
.icon-reviews-1programs-weekly:before { content: '\e81c'; } /* '' */
.icon-reviews-btnprograms-weekly:before { content: '\e81d'; } /* '' */
.icon-transfers-2programs-weekly:before { content: '\e81e'; } /* '' */
.icon-trip-info-btnprograms-weekly:before { content: '\e81f'; } /* '' */
.icon-weather-2programs-weekly:before { content: '\e820';     width: 20%;
    float: left;
    font-size: 50px } /* '' */